{% extends 'index.html' %}

{% block content %}
<main class="container">
    <section class="form-container">
        <h2>Add New Book</h2>

        <form method="POST">
            {% csrf_token %}

            <label>Book Name</label><br>
            <input type="text" name="title" class="formInput" required>
            <br><br>

            <label>Author</label><br>
            <input type="text" name="author" class="formInput" required>
            <br><br>

            <label>Category</label><br>
            <select name="category" class="formInput" required>
                <option value="">Choose Category</option>
                <option>Fiction</option>
                <option>Science</option>
                <option>History</option>
                <option>Technology</option>
            </select>
            <br><br>

            <label>Description</label><br>
            <textarea name="description" class="formInput" required></textarea>
            <br><br>

            <button type="submit" class="btn">Add Book</button>
        </form>
    </section>
</main>
{% endblock %}
