<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/queries.css">
    <link rel="icon" type="image/x-icon" href="../images/icon.png">
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>

<body>

    <nav class="navbar">

        <div class="iconName">
            <img src="../images/icon.png" alt="icon" width="30px">

            <b>
                <a href="../index.html"
                   style="color: inherit; text-decoration: none;">
                    Online Library
                </a>
            </b>

        </div>

        <ul class="pageOptions" id="navLinks"></ul>

        <div id="beforeAuth" class="logContainer hidden">
            <a href="login.html" class="navbarBtns">Login</a>
            <a href="signup.html" class="navbarBtns">Sign Up</a>
        </div>

        <div id="afterAuth" class="logContainer hidden">
            <span id="userGreeting" style="margin-right: 15px;"></span>
            <button id="logOutBtn" class="navbarBtns">Log Out</button>
        </div>

    </nav>

    <main class="container">

        <section class="form-container">

            <h2>Add New Book</h2>

            <form method="POST">

                {% csrf_token %}

                <label>Book Name</label><br>

                <input type="text"
                       name="title"
                       class="formInput"
                       required>

                <br><br>

                <label>Author</label><br>

                <input type="text"
                       name="author"
                       class="formInput"
                       required>

                <br><br>

                <label>Category</label><br>

                <select name="category"
                        class="formInput"
                        required>

                    <option value="">Choose Category</option>
                    <option>Fiction</option>
                    <option>Science</option>
                    <option>History</option>
                    <option>Technology</option>

                </select>

                <br><br>

                <label>Description</label><br>

                <textarea name="description"
                          class="formInput"
                          required></textarea>

                <br><br>

                <button type="submit" class="btn">
                    Add Book
                </button>

            </form>

        </section>

    </main>

    <script src="../js/main.js"></script>

</body>
</html>
