<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cover Page - Online Library</title>
</head>
<body>
    <main class="container">
        <h1>Online Library Project</h1>
        <h2>IS231 – Web Technology</h2>
        
        <section>
            <h3>Project Details</h3>
            <p><strong>Project Name:</strong> Online Library Website</p>
            <p><strong>Project Number:</strong> 10</p>
            <p><strong>Group Number:</strong> 15</p>
            <p><strong>TA Name:</strong> Dina</p>
        </section>

        <section>
            <h3>Team Members</h3>
            <ul>
                <li><strong>1. Youssef Ehab Ahmed</strong> (ID: 20240812)</li>
                <br>
                <li><strong>2. Razan Abdalla Osman Hassan</strong> (ID: 20220633)</li>
                <br>
                <li><strong>3. Grace Emad Nabil</strong> (ID: 20240134)</li>
                <br>
                <li><strong>4. Fatima Ibrahim idris</strong> (ID: 20220790)</li>
                <br>
                <li><strong>5. Mohamed Hamdy Ahmed</strong> (ID: 20240492)</li>
            </ul>
        </section>

        <section>
            <br>
            <a href="index.html">Proceed to Website Home →</a>
        </section>
    </main>
</body>
</html>
