{% extends 'index.html' %}

{% block content %}
<main class="container">
    <section class="form-container">
        <h2>Edit Book</h2>

        <form method="POST">
            {% csrf_token %}

            <label>Book ID</label><br>
            <input type="text" value="{{ book.id }}" class="formInput" readonly>
            <br><br>

            <label>Book Name</label><br>
            <input type="text" name="title" value="{{ book.title }}" class="formInput" required>
            <br><br>

            <label>Author</label><br>
            <input type="text" name="author" value="{{ book.author }}" class="formInput" required>
            <br><br>

            <label>Category</label><br>
            <select name="category" class="formInput" required>
                <option value="">Choose Category</option>
                <option value="Fiction" {% if book.category == "Fiction" %}selected{% endif %}>Fiction</option>
                <option value="Science" {% if book.category == "Science" %}selected{% endif %}>Science</option>
                <option value="History" {% if book.category == "History" %}selected{% endif %}>History</option>
                <option value="Technology" {% if book.category == "Technology" %}selected{% endif %}>Technology</option>
            </select>
            <br><br>

            <label>Description</label><br>
            <textarea name="description" class="formInput" required>{{ book.description }}</textarea>
            <br><br>

            <button type="submit" class="btn">Update Book</button>
        </form>
    </section>
</main>
{% endblock %}
