{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}?v=1.1">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <meta charset="UTF-8">
    <title>{% block title %}Online Library - Home{% endblock %}</title>
</head>
<body class="background-img">

    <nav class="navbar">
        <div class="iconName">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/icon.png' %}" alt="icon" width="30px">
            </a>
            <b>Online Library</b>
        </div>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <div class="pageOptions">
                    <a href="{% url 'admin_books' %}">Manage Books</a>
                    <a href=""{% url 'add_book' %}>Add Book</a>
                    <a href="{% url 'profile' %}">Profile</a>
                </div>

            {% else %}
                <div class="pageOptions">
                    <a href="{% url 'search' %}">Search for Books</a>
                    <a href="{% url 'borrowed_books' %}">My Borrowed Books</a>
                    <a href="{% url 'profile' %}">Profile</a>
                </div>
            {% endif %}
            <div class="logContainer">
                <p class="userGreeting">Welcome, {{ user.username }}</p>
                <a href="{% url 'logout' %}" class="navbarBtns">Logout</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'search' %}">Explore Catalog</a>
            </div>
            <div class="logContainer">
            <a href="{% url 'login' %}" class="navbarBtns">Login</a>
            <a href="{% url 'signup' %}" class="navbarBtns">Sign Up</a>
            </div>
        {% endif %}
    </nav>

    {% block content %}
    <main class="container" id="homeContainer">

            <div class="homeWelcome">
                <h1 class="homeText">Welcome to the Online Library</h1>
                <p class="headerText homeText">Discover a world of knowledge. Search our catalog, borrow your favorite books <br> And manage your reading list all in one place.</p>
            </div>
        <div>

{#            <div class="cards">#}
{#                <a href="">#}
{#                    <img src="{% static 'images/img1.jpg' %}" alt="programming book" class="img">#}
{#                </a>#}
{#                <a href="{% url 'search' %}">#}
{#                    <img src="{% static 'images/img2.jpg' %}" alt="coding book" class="img">#}
{#                </a>#}
{#                <a href="{% url 'search' %}">#}
{#                    <img src="{% static 'images/img3.jpg' %}" alt="literature book" class="img">#}
{#                </a>#}
{#                <a href="{% url 'search' %}">#}
{#                    <img src="{% static 'images/img4.jpg' %}" alt="literature book" class="img">#}
{#                </a>#}
{#                <a href="{% url 'search' %}">#}
{#                    <img src="{% static 'images/img5.jpg' %}" alt="kids coloring book" class="img">#}
{#                </a>#}
{##}
{#            </div>#}
        </div>

    </main>
    {% endblock %}
    <footer>
        <div class="footer">
            <div class="iconName">
                <img src="{% static 'images/icon.png' %}" alt="icon" width="30px">
                <b>Online Library</b>
            </div>
            <p>@2026 FCAI. all rights reserved </p>
            <p>Terms of Services</p>
            <div class="socialMediaIcons">
                <img src="{% static 'images/facebook.png' %}" alt="Facebook icon" width="40px">
                <img src="{% static 'images/twitter.png' %}" alt="Twitter icon" width="30px">
                <img src="{% static 'images/instagram.png' %}" alt="Instagram icon" width="30px">
            </div>
        </div>

    </footer>
{#    <script src="{% static 'js/main.js' %}"></script>#}
</body>
</html>
