{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
</head>
<body>
    <main class="container">
        {% block content %}
        <section class="form-container">
            <h2 class="lobsterFont">Login</h2>
            <form id="loginForm" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="username" required class="formInput"><br><br>

                <input type="password" id="password" name="password" placeholder="password" required minlength="6" class="formInput">
                <br><br>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} class="error">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <input type="submit" value="Login" id="loginSubmit" class="btn">

                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
        </section>
        {% endblock %}
    </main>
</body>
</html>
