{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="iconName">
            <img src="{% static 'images/icon.png' %}" alt="icon" width="30px">
            <b><a href="{% url 'home' %}" style="color: inherit; text-decoration: none;">Online Library</a></b>
        </div>
        <ul class="pageOptions" id="navLinks"></ul>
        <div id="beforeAuth" class="logContainer hidden">
            <a href="{% url 'login' %}" class="navbarBtns">Login</a>
            <a href="{% url 'signup' %}" class="navbarBtns">Sign Up</a>
        </div>
        <div id="afterAuth" class="logContainer hidden">
            <span id="userGreeting" style="margin-right: 15px;"></span>
            <button id="logOutBtn" class="navbarBtns">Log Out</button>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        <section class="form-container">
            <h2 class="lobsterFont">Login</h2>
            <form id="loginForm" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="username" required class="formInput"><br><br>

                <input type="password" id="password" name="password" placeholder="password" required minlength="6" class="formInput">
                <br><br>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} class="error">
                            {{ message }}
                        </li>
                {% endfor %}
                </ul>
                {% endif %}

                <input type="submit" value="Login" id="loginSubmit" class="btn">

                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
        </section>
        {% endblock %}
    </main>
    <script src="{% static 'js/auth.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
