{% extends 'index.html' %}

{% block content %}
    <main class="container">
        <section class="form-container">
            <h2 class="lobsterFont">Login</h2>
            <form id="loginForm" action="" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="username" required class="formInput" value="{{ entered_username|default:'' }}"><br><br>

                <input type="password" id="password" name="password" placeholder="password" required minlength="6" class="formInput">
                <br><br>
                {% if messages %}
                    <ul class="errorMessages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <input type="submit" value="Login" id="loginSubmit" class="btn">

                <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
            </form>
        </section>

    </main>
{% endblock %}
