{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
</head>
<body>
    <main class="container">
        {% block content %}
            <section class="form-container">
            <h1>Profile</h1>
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <img src="{% static 'images/Profile.jpg' %}" alt="profile picture" width="140">
                <br><br>
                <div>
                    <label>Username </label>
                    {{ form.username }}
                </div>
                <br>
                <div>
                    <label>Email </label>
                    {{ form.email }}
                </div>
                <br>
                <div>
                    <label>Phone </label>
                    {{ form.phone }}
                </div>
                <br>
                 <ul class="okay_messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            <br>
                <button type="submit" class="btn">Update</button>
            <br><br>
            </form>
                {% if user.is_staff %}
                <div>
                <a href="{% url "admin:index" %}" class="btn">Dashboard</a>
                </div>
                {% endif %}
            </section>

        {% endblock %}
    </main>
</body>
</html>