{% extends 'index.html' %}
{% load static %}
    {% block content %}
    <main class="container">
            <section class="form-container">
            <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="profile_container">
                    <h1>Profile</h1>
                    <img src="{% static 'images/Profile.jpg' %}" alt="profile picture" width="140">
                </div>
                <div>
                    <label>Username </label>
                    {{ form.username }}
                </div>
                <br>
                <div>
                    <label>Email </label>
                    {{ form.email }}
                </div>
                <br>
                <div>
                    <label>Phone </label>
                    {{ form.phone }}
                </div>
                <br>
                 <ul class="okay_messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            <br>
                <button type="submit" class="btn">Update</button>
            <br><br>
            </form>
                {% if user.is_staff %}
                <div>
                    <a href="{% url 'admin_books' %}" class="btn">Manage Books</a>
                </div>
                <br>
                <div>
                    <a href="{% url 'add_admin' %}" class="btn">Add Admin</a>
                </div>
                {% endif %}
            </section>
    </main>
    {% endblock %}
