{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/icon.png' %}">
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
</head>
<body>
    <main class="container">
        {% block content %}
        <section class="form-container">
            <div class="headings">
                <h2 class="lobsterFont">Sign Up</h2>
            </div>
            <form action="#" id="signUpForm" method="POST" autocomplete="off">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Username" class="formInput" autocomplete="one-time-code"><br><br>

                <input type="password" id="password" name="password" placeholder="Password" minlength="6" class="formInput" autocomplete="new-password">
                <br><br>

                <input type="password" id="confPass" name="confirm_password" placeholder="Confirm Password" minlength="6" class="formInput">
                <br><br>
                <input type="number" id="phone" name="phone" placeholder="phone number" minlength="10" class="formInput">

                <p id="confPassError" class="errorMessages" style="display:none; color: var(--error-color);"></p>
                <br><br>

                <input type="email" id="email" name="email" placeholder="Email" class="formInput">
                <br>

                {% if messages %}
                    <ul class="errorMessages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} class="error">
                        {{ message }}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <input type="submit" value="Sign Up" id="signUpSubmit" class="btn">
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </section>
        {% endblock %}
    </main>
</body>
</html>