@media (max-width: 72rem) {
    .cards {
        flex-wrap: wrap;
    }
    .footer {
        margin: 0 10px 10px;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 2rem;
        width: auto;
    }
}

@media (max-width: 51rem) {
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
    .cards {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 43rem) {
    .img {
        width: 120px;
    }
    .container {
        margin: 10px;
        padding: 15px;
    }
    .pageOptions {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .search-bar {
        flex-direction: column;
    }

}

@media (max-width: 34rem) {
    .img {
        width: 100px;
    }
    .logContainer {
        flex-direction: column;
        width: 100%;
    }
    .logContainer .navbarBtns {
        width: 100%;
        text-align: center;
        display: block;
        box-sizing: border-box;
    }
}
